@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #d61c4e;
  --second-color: #f77e21;
  --third-color: #fac213;
  --light-color: #fef9a7;
}

body {
  font-family: "Cairo", sans-serif;
  width: 100%;
  height: 100vh;
  padding-inline: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, var(--main-color), var(--second-color));
}

.inputs {
  background-color: var(--third-color);
  padding: 10px 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 250px;
  width: 450px;
  max-width: 100%;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.inputs h2 {
  font-size: 35px;
  margin: 0 0 10px;
  font-weight: 600;
  text-align: center;
  color: var(--light-color);
}

.inputs .date {
  display: flex;
  flex-direction: column;
  width: 85%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.inputs .date input {
  margin-bottom: 8px;
  padding: 10px;
  border: 1px solid var(--third-color);
  font-size: 25px;
  color: var(--main-color);
  text-align: right;
  outline: none;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
  font-weight: bold;
}
.date button {
  font-size: 25px;
  font-weight: bold;
  background-color: var(--second-color);
  color: var(--light-color);
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}
.date #btn {
  margin-bottom: 8px;
}
.content {
  margin-top: 60px;
  text-align: center;
  font-size: 30px;
  color: var(--third-color);
  font-weight: 600;
  animation-name: scale;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media (max-width: 767px) {
  .content {
    font-size: 30px;
  }

  @keyframes scale {
    0% {
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
    }
    100% {
      transform: scale(1.3);
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
    }
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  100% {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }
}

@media (max-width: 767px) {
  .inputs {
    height: 280px;
    width: 440px;
    max-width: 100%;
  }
}